@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.1s ease-in-out;
}

.slide-fade-leave-active {
  transition: all 0.1s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

.flicker {
  animation: flicker .4s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: .9;
  }
  50% {
    opacity: .65;
  }
}